
.profile{
    /* background-color: red; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.profile-img img{
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-name{
    margin-bottom: 10px;
}
.edit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.edit a{
    border: 0;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: rgb(232, 223, 223);
    border-radius: 12px;
    color: black;
    /* font-weight: bold; */
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.options{
    background-color: var(--lightest);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    width: 95%;
}
.options a{
    text-decoration: none;
    margin: 5px 0;
}
.options hr{
    color: black;
    width: 100%;
    margin: 5px auto;

}
.form{
    margin: auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout-btn{
    border: 0;
    background-color: var(--dark);
    padding: 10px 25px;
    border-radius: 12px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}